.Layer2_13_45 {
  transform: translate(0.1807190179824829px, 0.35612961649894714px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1365.633056640625px;
  min-height: 1361.2825927734375px;
  background-color: transparent;
  border: none;
}
