.Pupil_10_50 {
  transform: translate(8.392578125px, 8.334430694580078px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 18.910470962524414px;
  min-height: 18.669666290283203px;
  background-color: transparent;
  border: none;
}
