.GooglePlay_13_58 {
  z-index: 2;
  width: min(170px, 100%);
  min-height: 50px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.TEXT_13_60 {
  z-index: 2;
  color: rgba(0, 0, 0, 1);
  font-family: Agrandir;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.5px;
  line-height: 18px;
}
