.Section3Banking_12_91 {
  transform: translate(0px, 1442px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  min-height: 750px;
  background-color: rgba(0, 213.00000250339508, 75.00000312924385, 1);
  border: none;
}
