.Moving_10_48 {
  transform: translate(12.653410911560059px, 0.000004470203293749364px)
    rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 35.667938232421875px;
  min-height: 35.34051513671875px;
  background-color: transparent;
  border: none;
}
